{% extends 'base.html' %}

{% block title %}
    Detail | Page
{% endblock %}

{% block extra_header %}
    <style>
        .quantity {
            background-color: #343a40;
            border-radius: .3rem;
            padding: 5px;
            color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2> {{ product.name }} </h2>
        <small> {{ product.created }} </small>
        <p> {{ product.description }} </p>
        <p> {{ product.price }} $</p>
        <img src="{{ product.image.url }}" alt="" class="col-md-3 m-4">
        <br>
        <form action="{% url 'orders:cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add Cart" class="btn btn-warning col-md-3">
        </form>
    </div>
    <br><br>
    <hr>
    {% if request.user.is_authenticated %}
        <p class="text-center" style="font-size: 1.5rem"><strong> Add Comment </strong></p>
        <form class="col-md-5" action="" method="post" novalidate>
            {% csrf_token %}
            {{ form_comment.as_p }}
            <input type="submit" value="Send" class="btn btn-primary">
        </form>
    {% else %}
        <p class="text-center"> Oops... Only logged users can send commend. you can log in with this <strong><a
                href="{% url 'accounts:user_login' %}">link</a></strong></p>
    {% endif %}
    <br>
    <hr>
    <p class="text-center" style="font-size: 1.5rem"> ' <strong>{{ comments.count }}</strong> commends ' </p><br>
    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header"> {{ comment.user }} | {{ comment.created|timesince }} </p>
            <p class="card-body"> {{ comment.body }} </p>
            {% with replies=comment.rcomments.all %}
                {% for reply in  replies %}
                    <p class="bg-primary text-white p-3 m-2">{{ reply.user }} <br> {{ reply.body }}</p>
                {% endfor %}
            {% endwith %}
            {% if request.user.is_authenticated %}
                <form class="col-md-8" action="{% url 'category:post_reply' product.id comment.id %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ reply_form.as_p }}
                    <input type="submit" value="Send" class="btn btn-primary" style="width: 50%; margin: 0 0 10px 10px">
                </form>
            {% endif %}
        </div><br>
        {% empty %}
        <p class="text-center"> There is no comments ! </p>
    {% endfor %}

{% endblock %}